<div class="container" style="color:aliceblue">
  <div class="col-12 row justify-content-center">
    <h1 class="" style="color:aliceblue">你想對誰說幹話？</h1>
  </div>
  <div class="">
    <form action="" method="POST">
      <div class="col-12 row justify-content-center">
        <div class="col-4">
          <div style="height: 300px">
            <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5668/angry-developer.jpg"
              alt="developer" width="100%" height="300px">
          </div>
          <label class="form-check form-check-inline"><input type="radio" name="job" value="engineer">
            <h3 style="color:orange">工程師</h3>
          </label>
        </div>

        <div class="col-4">
          <div style="height: 300px">
            <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5667/angry-designer.jpg"
              alt="designer" width="100%" height="300px">
          </div>
          <label class=" form-check form-check-inline"><input type="radio" name="job" value="designer">
            <h3 style="color:orange">設計師</h3>
          </label>
        </div>

        <div class="col-4">
          <div style="height: 300px">
            <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5669/angry-founder.jpg"
              alt="founder" width="100%" height="300px">
          </div>
          <label class="form-check form-check-inline"><input type="radio" name="job" value="entrepreneur">
            <h3 style="color:orange">創業家</h3>
          </label>
        </div>
      </div>

      <div class="col-12 row justify-content-center mt-5">
        <div>
          <h4><button type="submit" class="badge badge-info mr-4">產生幹話</button></h4>
        </div>
        <input type="textarea" class="col-10" style="height:100px" value="{{trashTalk}}">
      </div>

    </form>
  </div>
</div>